<h1>Editing User</h1>

<%= render 'form', user: @user %>

<br />
<%= button_to "Make Standard", make_other_standard_path(@user), data: { confirm: "Are you sure you want to make this account standard?"}, method: :post, class: 'btn btn-info btn-sm field-link' %>
<br />
<%= button_to "Make Premium", make_other_premium_path(@user), data: { confirm: "Are you sure you want to make this account premium?"}, method: :post, class: 'btn btn-warning btn-sm field-link' %>
<br />
<%= button_to "Make Admin", make_other_admin_path(@user), data: { confirm: "Are you sure you want to make this account admin?"}, method: :post, class: 'btn btn-danger btn-sm field-link' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
